%h1 Stories

= link_to 'new story', new_story_path

%ul
  - @stories.each do |story|
    %li
      = story.created_at.strftime('%B %d, %Y, %T')

      = form_for :user, :url => push_story_path(story) do |f|
        = f.select :id, options_from_collection_for_select(User.all, :id, :username), :include_blank => true
        = f.submit 'push'

      = link_to 'edit', edit_story_path(story)
      = link_to 'delete', story_path(story), :method => :delete, :data => {:confirm => 'delete story?'}
      = link_to 'add task', new_story_task_path(story)
      %br
      = story.description
      %ul
        - story.tasks.order('created_at DESC').each do |task|
          %li
            = task.description
            = link_to 'edit', edit_story_task_path(story, task)
            = link_to 'delete', story_task_path(story, task), :method => :delete, :data => {:confirm => 'delete task?'}